body{
	/*
	background:-webkit-linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("media/anda-ambrosini-36101.jpg") no-repeat fixed;
	background:-o-linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("media/anda-ambrosini-36101.jpg") no-repeat fixed;
	background:-moz-linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("media/anda-ambrosini-36101.jpg") no-repeat fixed;
	 background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("media/anda-ambrosini-36101.jpg") no-repeat fixed;
	 */
	/* background-size: cover;	*/

}


.header{
	background:-webkit-linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.7)), url("media/tamarcus-brown-131428.jpg") no-repeat fixed;
	background:-o-linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("media/tamarcus-brown-131428.jpg") no-repeat fixed;
	background:-moz-linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("media/tamarcus-brown-131428.jpg") no-repeat fixed;
	background:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("media/tamarcus-brown-131428.jpg") no-repeat fixed;
	background-size:cover;

	position:fixed;
	z-index: 999;
	color:#FFF;
	min-height: 70px;
	width: 100%;
	box-shadow: 0 -1px 0 #FFF inset;
	border:1px solid rgba(0,0,0,.7); 
}

.menu{
	padding-top: 25px;
	padding-bottom: 25px;
}

.menu a{
	border-radius: 15px;
	border: 2px solid #FFF;
	padding: 4px 20px;
	color:#FFF;
	text-decoration: none;
	font-weight: bold;
	margin-right:10px;
	background-color:none;
	-webkit-transition:background-color 1s, border 1s;
	transition:background-color 1s, border 1s;
}

.menu a:hover{
	background-color:#e65c00;
	border:2px solid #e65c00;
}

.menu-label{
	padding-left:5px;
}

.menu .active{
	background-color:#e65c00;
	border:2px solid #e65c00;
}


.pomodoro{
	text-align: center;
}

.pomodoro-well{
	width:60%;
	margin-left:auto;
	margin-right: auto;
	margin-top:140px;
	background-color:rgba(255,30,0,.7);
	color:#FFF;
	display:inline-block;
	padding-bottom:50px;
	border-radius:20px;
	/*
	background:-webkit-linear-gradient(rgba(255,30,0,.7), rgba(255,30,0,.7));
	background:-o-linear-gradient(rgba(255,30,0,.7), rgba(255,30,0,.7));
	background:-moz-linear-gradient(rgba(255,30,0,.7), rgba(255,30,0,.7));
	background:linear-gradient(rgba(255,30,0,.7), rgba(255,30,0,.7));
	*/
}

.timer-container{
	border-radius:50%;
	display:inline-block;
	width:280px;
	height:280px;
	text-align: center;
	border:10px solid #FFF;
	
	/*background-color:#e65c00;*/
}

.time{
	padding-top:75px;
	font-size:60px;
}

.timer-controls{
	padding-top:40px;
}

.button{
	background-color:#FFF;
	padding: 4px 20px;
	border-radius: 5px;
	border:2px solid #929292;
	color:#929292;
	margin-right:20px;
}

.button:hover,
.button:active{
	color:#000;
	border:2px solid #000;
}

.control-label{
	padding-left: 5px;
}

.options{
	margin-top: -10px;
}

.settings-modal{
	left:10px;
	text-align: left;
	color:#FFF;
	display:inline-block;
	font-size:28px;
	float:left;
	padding-left: 15px;
}

.setting-modal:hover{
	color:#000;
}

.settings-modal:focus{
	outline:none;
	color:#FFF;
}

#current-pomodoro{
	text-align: right;
	right:10px;
	display: inline-block;
	float: right;
	padding-right: 10px;
	padding-top: 3px;
}

.about{
	margin-top:40px;
	color:#FFF;
	background:-webkit-linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("media/anda-ambrosini-36101.jpg") no-repeat fixed;
	background:-o-linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("media/anda-ambrosini-36101.jpg") no-repeat fixed;
	background:-moz-linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("media/anda-ambrosini-36101.jpg") no-repeat fixed;
	background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("media/anda-ambrosini-36101.jpg") no-repeat fixed;
}

.about-container{
	padding:0 100px 0 100px;
}

.about-content{
	padding-bottom: 50px;
	border-bottom: 2px solid #929292;

}

.info-header{
	padding-top:50px;
	text-align: center;
	margin-bottom:50px;
}

.text{
	font-size:20px;
	line-height: 35px;
	margin-bottom:30px;
}

.about-image{
	opacity:.5;
	color:#000;
	width:500px;
	height:300px;
	margin-left:auto;
	margin-right:auto;
}

.about-image-container{
	padding:0 20px 0 20px;
	text-align: center;
}

.about-image-text{
	font-size:18px;
}

.about-icon{
	font-size:150px;
	margin-bottom:20px;
	color:#FF1E00;
}

.info-li{
	font-size:20px;
	margin-bottom: 5px;
}

.info-list{
	margin-bottom: 50px;
}

.tab-pane{
	padding-top: 30px;
	padding-bottom: 30px;
}