body{
	background:-webkit-linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("media/anda-ambrosini-36101.jpg") no-repeat fixed;
	background:-o-linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("media/anda-ambrosini-36101.jpg") no-repeat fixed;
	background:-moz-linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("media/anda-ambrosini-36101.jpg") no-repeat fixed;
	background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("media/anda-ambrosini-36101.jpg") no-repeat fixed;
	/* background-image:url("media/background.jpg");	*/
	background-size: cover;
	color:#000;
}

background:-webkit-linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("media/anda-ambrosini-36101.jpg") no-repeat fixed;
	background:-o-linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("media/anda-ambrosini-36101.jpg") no-repeat fixed;
	background:-moz-linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("media/anda-ambrosini-36101.jpg") no-repeat fixed;
	background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("media/anda-ambrosini-36101.jpg") no-repeat fixed;